@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  padding: 0;
  margin: 0;
}

.transparent {
  background-color: transparent;
  border: none;
}
.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.items {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: center;
  background-color: white;
  padding: 20px;
}

.item {
  background: rgb(250, 0, 255);
  background: linear-gradient(
    90deg,
    rgba(251, 0, 255, 0.787) 0%,
    rgba(34, 23, 41, 0.787) 49%,
    rgba(0, 204, 255, 0.815) 100%
  );
  margin: 10px;
  width: 260px;
  height: 480px;
  border-radius: 15px;
  padding: 3.5px;
}

a {
  text-decoration: none;
  background-color: transparent;
  border: 0px;
  color: white;
  margin-top: 15px;
  font-family: "Mina", sans-serif;
}
a:hover {
  color: rgb(255, 212, 131);
}

.item img {
  height: 344px;
  width: 225px;
  border-radius: 15px;
}
.itemBackground {
  width: 260px;
  height: 480px;
  background-color: rgb(9, 5, 59);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p {
  color: white;
  font-size: small;
  font-family: "Mina", sans-serif;
}
.pInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dateDiv {
  margin-right: 30px;
}

nav {
  width: 100%;
  height: 6%;
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 2px solid lightgray;
}

.navDiv {
  display: flex;
  width: 20%;
  height: 100%;
  margin-right: 10%;
  justify-content: center;
  justify-content: space-between;
}
nav a {
  color: black;
  font-size: medium;
}
.welcomeDiv {
  width: 100%;
  height: 100px;
  margin-top: 5%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.welcomeDiv p {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: black;
}

.items.two {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  justify-content: flex-start;
}

#two {
}

.hotDiv {
  width: 100%;
  height: 100px;
  margin-top: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hotDiv p {
  margin-left: 8.4%;
  font-size: 30px;
  color: black;
  font-weight: bold;
}
.topDiv {
  width: 100%;
  height: 100px;
  margin-top: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.topDiv p {
  margin-left: 8.4%;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.intro {
  background-color: rgb(5, 9, 20);
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.se {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
  align-items: center;
}
.col {
  width: 40%;
  display: flex;
  /* background-color: red; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.intro img {
  width: 700px;
  height: 600px;
  filter: opacity(50%);
}
.im {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  /* background-color: blue; */
}
.intro p,
h1 {
  color: white;
}
.intro h1 {
  font-size: 40px;
}
.placeHolder {
  width: 100%;
  margin-top: 2%;
}
.mangaP {
  margin-left: 10%;
  font-size: 30px;
  color: black;
  font-weight: bold;
}
.mangaApp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.mangaItems {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: center;
  background-color: white;
  padding: 20px;
}
.mangaPDiv {
  width: 100%;
  height: 100px;
  margin-top: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.favoriteDiv {
  width: 100%;
  height: 100px;
  margin-top: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.favoriteDiv p {
  margin-left: 8.4%;
  font-size: 30px;
  color: black;
  font-weight: bold;
}
.logo {
  margin-right: 60%;
}
